{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>All Reservations</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <label for="reservation_date">Select a Date:</label>
        <input type="date" id="reservation_date" name="reservation_date" />
        <div id="booking-entries">
          {% for booking in bookings %}
          <p>
            {{ booking.first_name }} - {{ booking.reservation_date|date:"Y-m-d"
            }} - {{ booking.reservation_slot }}
          </p>
          {% endfor %}
        </div>
      </div>
      <!--End col-->
      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>

<!-- Add your code inside the script tags below  -->
<script>
  const today = new Date();
  const year = today.getFullYear();
  const month = String(today.getMonth() + 1).padStart(2, "0");
  const day = String(today.getDate()).padStart(2, "0");
  document.getElementById("reservation_date").value = `${year}-${month}-${day}`;
  const bookings_url = "{% url 'bookings' %}";
  function fetchBookings(date = null) {
    let url = bookings_url;
    if (date) {
      url = bookings_url + "?date=" + date;
    }
    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        let bookings = "";
        for (let item of data) {
          bookings += `<p>${item.fields.first_name} - ${formatTime(
            item.fields.reservation_slot
          )}</p>`;
        }
        document.getElementById("booking-entries").innerHTML = bookings;
      });
  }
  function formatTime(slot) {
    let hours = parseInt(slot);
    const ampm = hours >= 12 ? "PM" : "AM";
    hours = hours % 12;
    hours = hours ? hours : 12;
    return `${String(hours).padStart(2, "0")}:00 ${ampm}`;
  }
  document
    .getElementById("reservation_date")
    .addEventListener("change", function () {
      fetchBookings(this.value);
    });
  fetchBookings();
</script>
{% endblock %}
